.banner-section {
    background-image: url('../../../assets/images/hands-filtered.png');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
}